img
{
    width:400px;
}
head
{
   text-align : center ;
    font-family : "Times New Roman";
    background:  pink ;
    color: wheat;
}
body
{
    text-align : center ;
    font-family : "Times New Roman";
    background:   rgb(52, 17, 179);
    color: wheat;
}
/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #cef10b;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}
mark
{
  color:blue
}

strong
{
  color:blueviolet
}
button 
{
  background-color: White;
  border: none;
  color: rgb(228, 15, 15);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   opacity: 0.6;
  transition: 0.3s;
  display: inline-block;          
  cursor: pointer;
  border: 2px solid #04AA6D;
  box-shadow:0 8px 16px 0 wheat
  
}
button span 
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span 
{
  padding-right: 25px;
}

button:hover span:after 
{
  opacity: 1;
  right: 0;
}
